@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Fasthand', sans-serif;
}

.hidden {
    display: none;
}

#loading {
    margin-top: 1rem;
}

#videoContainer {
    margin-top: 1rem;
    position: relative;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.bi, .material-icons-outlined {
    font-size: 2rem; 
    cursor: pointer; 
}
